* {
    padding: 1px;
    padding-bottom: 6px;
    /* background-color: rgb(104, 104, 104); */
    box-sizing: border-box;
}

.header {
    display: grid;
    background-color: rgb(230, 143, 66);
    */ rgb(41, 148, 107);
    */ height: 10vh;
    width: 250vh;
    grid-area: "hd";
    margin: 1px;
    padding: 1px;
    border: 3px solid yellow;
}

.container {

    display: grid;
    width: 250vh;
    height: 100vh;
    grid-gap: 15px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 60px 50%;
    grid-template-areas:
        "hd hd""
"sd ""main main main"
        "footer footer footer";
}

#content {
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: baseline; */
    justify-items: center;
    font-size: 15px;
    width: 250vh;
    height: 87vh;
    background-color: rgb(18, 35, 43);
    float: left;
    border: 3px solid rgb(126, 128, 0);
    grid-gap: 2px;
}

nav {
    display: block;
    font-size: 15px;
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid rgb(182, 124, 17);
    /* background-color: rgb(31, 90, 118); */
}

nav a {
    color: white;
    justify-content: left;
    margin: 5px;
    padding: 5px;
}

nav a:hover {
    background-color: rgb(233, 152, 0);
}

/* .content {
    /* grid-area: "main";
    border: 1px solid black; 
}*/

.sidebar {
    grid-area: "sd";
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 250px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid pink;
    border-radius: 5%;
    grid-gap: 10px;
    width: 250px;
}

#one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid pink;
    border-radius: 8%;
}

#two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid pink;
    border-radius: 8%;

}

#four {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#six {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

p {
    width: 230px;
    height: 100px;
    color: whitesmoke;
}

h1 {
    text-align: center;
    text-emphasis: style;
    font-style: oblique;
    font-family: monospace;
    color: rgb(14, 27, 33);
}

h2 {
    text-align: center;
    text-emphasis: style;
    font-style: oblique;
    font-family: monospace;
    color: rgb(14, 27, 33);
}

h3 {
    text-align: center;
    font-style: oblique;
    font-family: cursive;
    color: rgb(127, 206, 206);
}

h5 {
    align-content: center;
    text-emphasis: style;
    font-style: oblique;
    color: whitesmoke;
}

img {
    border-radius: 15%;
    width: 180px;
    height: 150px;
    border: 2px solid orange;
    position: center;
}

#jazz {
    filter: blur(.5px);
}

button {
    display: inline-block;
    background-color: rgb(127, 206, 206);
    border: 3px solid orange;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}


.footer {
    display: block;
    width: 250vh;
    height: 5vh;
    position: absolute;
    grid-area: "footer";
    background-color: rgb(31, 90, 118);
    bottom: 0;
    align-content: center;
    border: 3px solid black;
    text-justify: center;
    text-align: center;
    font-style: oblique;
    font-family: cursive;
    color: rgb(127, 206, 206);
}

@media all,
(min-width:600px) and (max-width:1100px)and (orientation:landscape) {
    .container {
        grid-template-areas:
            "hd""hd""hd""sd""sd""sd"
            "main""main""main"
            "footer""footer""footer";
    }
}

/* .container {
    display: flex;
    /* flex-flow: column wrap; 
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    font-size: 15px;
    width: 2300px;
    height: 1200px;
    background-color: rgb(182, 255, 253); */


/* display: grid;
    grid-area: "header""main""main""main""main""main""main";
    grid-gap: 10px;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(3, 450px);
    grid-template-areas: "header""main""footer" */


/* .box {
    width: 350px;
    height: 350px;
} */